*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1200px;
    margin: 0 auto;
}


header{
    background-color: #0084fd;
    width: 100%;
    height: 100px;
}

section{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.flex{
    display: flex;
    flex-direction: row;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.bars-logo{
    color: white;
}

.logo-logo{
    
}

.white{
    background-color: pink;
    width: 100%;
    height: 50%;
    padding: 2rem;
}

.lilac{
    background-color: #9792e4;
    width: 100%;
    height: 50%;
    padding: 2rem;
}

.col-1{
    width: 100%;
    background-color: #b5ddff ;
    border-radius: 2rem;
    height: 200px;
}

.col-2{
    width: 100%;
    background-color: magenta ;
    border-radius: 2rem;
    height: 200px;
}

.col-3{
    width: 100%;
    background-color: gold ;
    border-radius: 2rem;
    height: 200px;
}

footer{
    background-color: #333333;
    width: 100%;
    height: 250px;
}

/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
            RESPONSIVE MOBILE
OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
*/

@media screen and (min-width:480px) {
    .col-1{
        width: calc( 100% / 3 - 1.5rem);
        background-color: #b5ddff ;
        border-radius: 2rem;
        height: 200px;
    }
    
    .col-bigger{
        width: calc( 100% / 3 *2 );
    }
    

    .white{
        background-color: aqua;
    }
}

/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
            RESPONSIVE TABLET
OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
*/
@media screen and (min-width:768px){

    
}
/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
            RESPONSIVE DEXTOP
OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO
*/